.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.menu ul li {
  list-style: none;
}
.headerInfo {
  background-color:#FFFFFF;
  height: 60px;
}
.contentInfo {
  background-color:#dee7ee;
      height: 400px;
}
.headerInfo .dropdown {
  width:200px;
  float: right;
  line-height: 50px;
  text-align: left;
}
.headerInfo .signOut a {
  cursor: pointer;
}